.box1 {
  height: 400px;
  background-color: red;
  float: left;
}

.box2 {
  height: 200px;
  background-color: blue;
  float: right;
}

.box {
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

/* .box3 {
  clear: both;
} */

.clearfix {
  clear: both;
}